**/.DS_Store
###> symfony/framework-bundle ###

###> symfony/framework-bundle ###
/.env.local
.env
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###